<!DOCTYPE html>
<html>
  <head>
    <title>Tree of Knowledge</title>
  </head>
  <body>
    <div>
      <p style='text-align:center;'>Pick which Tree of Knowledge you would like to view:<br>
        <a href='https://tree-of-knowledge.herokuapp.com/tree/1'>Tree 1</a><br>
        <a href='https://tree-of-knowledge.herokuapp.com/tree/2'>Tree 2</a><br>
        <a href='https://tree-of-knowledge.herokuapp.com/tree/3'>Tree 3</a><br>
        <a href='https://tree-of-knowledge.herokuapp.com/tree/4'>Tree 4</a><br>
        <a href='https://tree-of-knowledge.herokuapp.com/tree-5'>Tree 5</a><br><br>
        <a href='https://tree-of-knowledge.herokuapp.com/real-data'>View Real Data</a>
      </p>
    </div>
  {% block content %}{% endblock %}
  </body>
</html>
